<!DOCTYPE html>
<html>
<head>
    <title>Hello WebSocket</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/styles.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div class="container mirror-container" id="app">
    <div class="row">
        <div id="left-col" class="col-md-6">
            <div id="weather-div" class="container-fluid">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <table class="table text-center" id="hourly-weather-table">
                            <tbody>
                                <tr><td colspan="3"><div v-if="weather.currentWeather">{{ weather.currentWeather.summary }}</div></td></tr>
                                <tr>
                                    <td class="col-md4"><div v-if="weather.currentWeather">Now</div></td>
                                    <td class="col-md4"><div v-if="weather.currentWeather">{{ weather.currentWeather.temperature }} / <b>{{ weather.currentWeather.apparentTemperature }}</b></div></td>
                                    <td class="col-md4"><div v-if="weather.currentWeather"><weather-icon icon_size="50" :id="'c-' + weather.currentWeather.icon"></weather-icon></div></td>
                                </tr>
                                <tr v-for="(hourlyWeather, index) in hourlyWeatherList">
                                    <td class="col-md4">{{ hourlyWeather.hourAsString }}</td>
                                    <td class="col-md4">{{ hourlyWeather.temperature }} / <b>{{ hourlyWeather.apparentTemperature }}</b></td>
                                    <td class="col-md4"><weather-icon icon_size="50" :id="'h-' + hourlyWeather.icon + index"></weather-icon></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td v-for="(dailyWeather, index) in dailyWeatherList" class="">
                                        <table class="text-center">
                                            <tr><td>{{ dailyWeather.dayAsString }}</td></tr>
                                            <tr><td>{{ dailyWeather.temperatureMin }}/{{ dailyWeather.temperatureMax }}</td></tr>
                                            <tr><td><weather-icon icon_size="30" :id="'d-' + dailyWeather.icon + index"></weather-icon></td></tr>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">

        </div>
    </div>
    <script src="https://rawgithub.com/darkskyapp/skycons/master/skycons.js"></script>
    <script src="/vueController.js"></script>
</div>
</body>
</html>